* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

a {
    text-decoration: none;
}

div#header {
    width: 100%;
    height: 8%;
    background-color: black;
    margin: 0 auto;
}

.logo {
    float: left;
    margin-top: .2ex;
    margin-left: 10px;
}

.logo a {
    font-size: 1.6em;
    color: #fff;
}

.logo a span {
    font-weight: 300;
}

div#container {
    height: 92%;
    width: 100%;
    margin: 0 auto;
}


.sidebar {
    width: 250px;
    background:white;
    float: left;
}


ul#nav li {
    list-style: none;
    height: 10px;
    /*background-image: url("../images/success.png");*/

}

ul#nav li span {
    position: relative;
}

ul#nav li span img {
    float: left;
    display: block;
    margin-left: 1px;
    margin-top: 2px;
}

ul#nav li a {
    color: #ccc;
    display: block;
    padding: 10px;
    font-size: 0.8em;
    width: 85%;
    float: right;
    border-bottom: 1px solid #444;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

ul#nav li a:hover {
    background: #030303;
    color: #fff;
}

ul#nav li a.selected {
    background: #030303;
    color: #fff;
    background-color: blue;
}


ul#nav li a:hover {
    background: #030303;
    color: #fff;
}

ul#nav li a.selectedv {
    background: black;
    color: white;
    background-color:firebrick;
}


ul#nav li a:hover {
    background: #030303;
    color: #fff;
}

ul#nav li a.selectedi {
    background: black;
    color: #fff;
    background-color: orange;
}



.content {
    width: auto;
    height: 100%;
    background: white;
    margin-left: 250px;
    padding: 15px;
}

.content p {
    color: #424242;
    font-size: 0.8em;
}

div#box {
    margin-top: 15px;
}

div#box .box-top {
    color: #fff;
    text-shadow: 0 1px #000;
    background: firebrick;
    padding: 5px;
    padding-left: 15px;
    font-weight: 300;
}

div#box .box-panel {
    padding: 15px;
    background: #fff;
    color: #333;
}
@media only screen and (max-width: 480px) {

    a.mobile {
        display: block;
        color: #fff;
        background: #000;
        text-align: center;
        padding: 7px;
        cursor: pointer;
    }

    a.mobile:active {
        background: #474747;
    }


    .sidebar {
        width: 100%;
        display: none;
        height: auto;
    }

    .content {
        margin-left: 0;
    }


}


@media only screen and (min-width: 480px) {
    .sidebar {
        height: 92%;
        left: 0;
        display: block;
        position: absolute;
    }

    a.mobile {
        display: none;
    }
}