/* ADD FONT DECISIONS */

.divStyleParagraph {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 14px;
}


/* //CURSIVE FONT OPTIONS BELOW */

/* .satisfy {
    font-family: 'Satisfy', cursive;
}
    
.dancing {
    
    font-family: 'Dancing Script', cursive;
} */

