a:link, a:visited {
  
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
  }
  
  /* a:hover, a:active { */
    /* background-color: blue; */
  /* } */

  
    .w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap
    }

    nav img {
      margin-right: 15%;
      margin-left: 3%
    }

    /* .navbar {
      overflow: hidden;
      
      font-family: Arial;
    } */