
.total {
    display: table;
    width: 100%;
    margin-left: 1%;
}

.navnav {
    float: left;
    width: 5%;
    display: table-cell;
    margin-left:0.05%;
}


.sidebar {
    position:relative;
    margin-left: 1%!important;
}




a:link, a:visited {
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}


img {
    margin-left: 1%;
    margin-right: 10%;
}



body {
    margin-top: 100rem;
    margin-left:5%;
}



.satisfy {
    font-family: 'Satisfy', cursive;
}

.dancing {
    font-family: 'Dancing Script', cursive;
}




.education {
    color: chartreuse;
    font-size: 40px;
}

    .education:hover {
        transition-duration: 0.8s ease-in-out;
        font-size: 45px;
    }

.employment {
    color: rgb(248, 250, 108);
    font-size: 40px;
}

    /*.employment:hover {
        transition-duration: 0.8s ease-in-out;
        font-size: 45px;
    }*/

.health {
    color: tomato;
    font-size: 40px;
}

    /*.health:hover {
        transition-duration: 0.8s ease-in-out;
        font-size: 45px;
    }*/


.legal {
    color: rgb(122, 16, 122);
    font-size: 40px;
}

    /*.legal:hover {
        transition-duration: 0.8s ease-in-out;
        font-size: 45px;
    }*/





.housing {
    color: darkcyan;
    font-size: 40px;
}

    .housing:hover {
        transition-duration: 0.8s ease-in-out;
        font-size: 45px;
    }

.emergency {
    color: red;
    font-size: 40px;
}


#hover-element {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    border: 5px;
    font-family: cursive;
    text-align: right;
    float: right;
}

#hover-element:hover {
    display: block;
}

#hover-text:hover #hover-element {
    display: block;
}

#hover-text {
    display: inline;
}



/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    padding: 14px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: rgb(219, 223, 35);
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
}


.columns {
    column-count: 2;
    column-gap: 100px;
    margin-top: 0.05%;
    margin-left: 20%;
    margin-right: 10%;
    
}

.satisfy {
    font-family: 'Dancing Script', cursive;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow:auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 400px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }