.btn{
  background-color: yellow;
  border-color: white;
  color: black;
  padding: 30px;
  font-family: fantasy;
  font: bold;
  font-size: large; 
  
}

.img{
    width: 400px;
    height: 100px;
    margin-left: 15rem;
    
}

.columns {
    column-count: 2;
    column-gap: 150px;
    margin-top: 0.05%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.satisfy {
    font-family: 'Satisfy', cursive;
    }
    
    .dancing {
    
    font-family: 'Dancing Script', cursive;
    }
    
    .margins1 {
        margin-block-start: 2% !important;
        margin-left: 20% !important;
        margin-right: 2% !important;
        
    }
    
    .margins2 {
        margin-block-end: 2% !important;
        margin-left: 2% !important;
        margin-right: 20% !important;
    }
    
    