.btnnn{
  background-color: yellow!important;
  border-color: white!important;
  color: black!important;
  padding: 30px!important;
  font-family: fantasy;
  font: bold;
  font-size:medium; 
  text-align: center;
  display: block;
  margin-left: 16%;
  
}

.img{
    width: 400px;
    height: 100px;
    margin-left: 15rem;
    
}


.satisfy {
    font-family: 'Satisfy', cursive;
    }
    
    .dancing {
    
    font-family: 'Dancing Script', cursive;
    }
    
    .margins {
        margin: auto;
    }
    
   