.sidebar img{
    height: 75px;
    width: 75px;
   padding: 10px 0px;
   
  }
  .sidebaricons img{
    height: 75px;
    width: 75px;

}
.sidebaricons{
  
  position: absolute;
  top: 30%;
  left: 0%;
  width: 200px;
  display: flex;
  flex-direction: column;
  }
  
 .sidebaricons a{
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  font-size: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 2px;
  text-align:right;
  transform: translate(-130px, 0px);
  transition: .5s;
  color: black;
  
  }
  
  .sidebaricons a img{
  margin-left: 20px;
  background-color: white;;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 60%; 
  }
  
  .sidebaricons a:hover{
  transform: translate(-40px, 0px);
  }


.btnnn{
  background-color: yellow!important;
  border-color: white!important;
  color: black!important;
  padding: 30px!important;
  font-family: fantasy;
  font: bold;
  font-size:medium; 
  text-align: center;
  display: block;
  margin: auto;
  
  
}
 
.img{
    width: 400px;
    height: 100px;
    margin-left: 15rem;
    
} 


.satisfy {
    font-family: 'Satisfy', cursive;
    }
    
    .dancing {
    
    font-family: 'Dancing Script', cursive;
    }
    
    .margins {
        margin: auto;
    }
    
  
     
    
    
   
   